.experiencia {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 9px;
    grid-row-gap: 10px;
    }
.wp-image{
    height: 100px;
    width: 200px;
}
#experiencia, texto{
    text-align: justify;

}
.seccion{
    position:relative;
    left: 50%;
}
.item{
    padding-bottom: 100px;
    padding-right: 100px;
}
.listaICAYCC{
    font-weight: bold;
}